/* Global Font Setup */
body {
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6; /* Optional: Adjust for readability */
}

/* Override Specific Elements */
h1, h2, h3, h4, h5, h6, p, span, a, button, input, textarea, select, label, div {
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

/* Example Element Styling */
h1 {
  font-size: 24px;
  /* color: #333; */
  color:#314155;
  text-align: center;
  margin-bottom: 20px;
}
h2{
  text-align: center;
}
.set-menus-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.menus-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.guest-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80px;
}
