/* styles/Pagination.css */
.pagination {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #d76055;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 3px solid #007bff;

}

.load-more:hover {
  background-color: #353b65;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.5rem;
  
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .load-more {
    font-size: 0.9rem; /* Adjust button text size for smaller screens */
    padding: 8px 16px;
    
  }
}

@media (max-width: 480px) {
  .load-more {
  
    padding: 10px 20px;
    font-size: 1rem;
  }
  .pagination-container {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f9f9f9; /* White background */
  }

}
